.sm-color-card-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0.4rem;
  max-width: 10rem;
  background: linear-gradient(
    to top right,
    var(--main-color-dark) 0%,
    var(--main-color) 80%
  );
}

.sm-color-card-box {
  min-height: 3rem;
  border: 3px solid var(--main-color-dark);
}

.sm-color-card-name,
.sm-color-card-name-to-right {
  padding: 0.5rem;
  margin: 0;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  color: var(--small-text);
  font-weight: 600;
}
