:root {
  --main-color: rgb(247, 202, 201);
  --main-color-light: hsl(3 67% 95%);
  --main-color-dark: hsl(3 67% 82%);
  --large-text: rgb(58, 58, 58);
  --small-text: rgb(106, 5, 114);
  --bad-contrast: hsl(3 67% 72%);
  --white: rgb(235, 226, 226);
}
